.containerAbout {
  margin-top: 80px;
}
.title {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 500;
  background-color: var(--darkPrimary);
  color: var(--lightSecondary);
}
.containerBoxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 30px;
}

@media screen and (min-width: 768px) {
  .containerAbout {
    margin-top: 105px;
  }
  .animationSmall {
    display: none;
  }

  .descriptionAbout {
    font-size: 60px;
    padding: 70px 40px;
  }
}

@media screen and (min-width: 1024px) {
  .containerBoxes {
    margin-top: 50px;
  }
  .descriptionAbout {
    padding: 70px 120px;
  }
}
@media screen and (min-width: 1440px) {
  .descriptionAbout {
    padding: 70px 160px;
  }
}
