.containerOnlyText {
  display: flex;
  flex-direction: column;
  background: #ffecb3;
  align-items: center;
}
.text {
  color: #212121;
  text-align: center;
  margin: 0;
  padding: 50px 50px;
  font-size: 60px;
  font-weight: bold;
}

@media screen and (min-width: 760px) {
  .text {
    font-size: 90px;
    padding: 60px 80px;
  }
}
@media screen and (min-width: 1024px) {
  .text {
    padding: 90px 180px;
    font-size: 130px;
    line-height: 110%;
  }
}
@media screen and (min-width: 1440px) {
  .text {
    padding: 120px 240px;
  }
}
