.responsiveSmall {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.closeShoppingCartButton {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  background-color: transparent;
  border: none;
  font-size: 25px;
  font-weight: bold;
}
.containerHeaderOrders {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  box-sizing: border-box;
}
.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.subTitle {
  color: grey;
  font-size: 20px;
  width: 60%;
  margin-bottom: 20px;
  text-align: center;
}
.amount {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.containerOrdersData {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 300px;
}
.containerAllOrders {
  height: auto;
  max-height: 350px;
  overflow-y: scroll;
  width: 100%;
  border-bottom: 1px solid #d2d2d2;
}
.containerOrder {
  border-radius: 10px;
  margin: 10px 10px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.containerQuantityChange {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 40px; */
  padding-left: 16px;
  padding-right: 10px;
}
.buttonChange {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  background-color: white;
  width: 35px;
  height: 35px;
}
.containerProductQuantity {
  display: flex;
}
.preffix {
  border: none;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0px;
}
.productQuantity {
  height: 90%;
  border: none;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  background-color: transparent;
  margin: 10px 0px;
}
.containerDataOrder {
  display: flex;
  align-items: center;
  width: 240px;
}
.orderImage {
  height: 80px;
  width: 70px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
}
.wraperData {
  display: flex;
  flex-direction: column;
}
.orderName {
  font-size: 16px;
  font-weight: bold;
}
.orderPrice {
  font-size: 16px;
  color: grey;
}
.buttonRemoveOrder {
  border: none;
  background-color: transparent;
}
.buttonOrders {
  font-family: "Staatliches";
  background: #ffa000;
  margin-top: 30px;
  height: 100px;
  width: 210px;
  font-size: 30px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 10px;
  color: white;
}
.buttonOrders:hover {
  background-color: #ffac31;
  transform: scale(1.1);
}
.emptyState {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 180px;
  font-size: 20px;
  color: grey;
  font-weight: 500;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .containerAllOrders {
    height: auto;
    max-height: 390px;
  }
}
@media screen and (min-width: 1024px) {
  .containerOrder {
  }
  .containerDataOrder {
    width: 240px;
  }
  .orderImage {
    width: 90px;
  }
}
@media screen and (min-width: 1440px) {
  .containerDataOrder {
    width: 320px;
  }
}
