.containerFormOrder {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: var(--lightSecondary);
}
.title {
  color: var(--darkPrimary);
  margin-bottom: 20px;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
}
.wrapperForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--white);
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.inputBox {
  width: 250px;
  height: 60px;
}
.inputBox:global(.MuiFormControl-root) {
  width: 250px;
  height: 60px;
}
.inputBoxDate {
  width: 250px;
  margin-top: 10px;
}
.input {
  width: 100%;
}
.errorInput {
  color: var(--danger);
  font-size: 16px;
  margin-bottom: 15px;
}
.commentaryBox {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 250px;
}
.titleOrderSummary {
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}
.commentaryButton {
  height: 20px;
  width: 100px;
  align-self: flex-end;
  background-color: var(--dark);
  color: var(--white);
  border: none;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.containerSummary {
  margin-top: 20px;
}

.form :global(.MuiButton-root) {
  background: var(--primary);
  color: var(--white);
  border-radius: 0px;
  width: fit-content;
  align-self: center;
}
.form :global(.MuiButton-root:hover) {
  background: var(--buttonHover);
}

@media screen and (min-width: 768px) {
  .containerFormOrder {
    background-color: var(--white);
    padding: 50px;
  }
  .title {
    align-self: center;
  }
  .containerFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
  }
  .wrapperForm {
    background-color: var(--lightSecondary);
    width: 50%;
    margin-right: 20px;
  }
  .titleOrderSummary {
    margin-top: 20px;
  }
  .textCommentary {
    margin-left: 10px;
  }
  .containerSummary {
    background-color: var(--lightSecondary);
    margin-top: 0px;
    width: 50%;
    padding: 10px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  }
  .form :global(.MuiButton-root) {
    font-size: 18px;
    border-radius: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .containerFormOrder {
    padding: 30px 90px;
  }
  .form :global(.MuiButton-root) {
    font-size: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .containerFormOrder {
    padding: 30px 130px;
  }
}
@media screen and (min-width: 1440px) {
  .containerFormOrder {
    padding: 30px 200px;
  }
}
@media screen and (min-width: 1920px) {
  .containerFormOrder {
    padding: 30px 400px;
  }
}
