.formOrderResposiveSmall {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.title {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
.subTitle {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 30px;
}
.form {
  display: flex;
  flex-direction: column;
}
.wrapperForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input {
  height: 40px;
  width: 250px;
  border-radius: 50px;
  padding: 5px 20px;
  margin-bottom: 10px;
  border: 1px solid #bebebe;
  font-size: 14px;
  background: white;
}

.errorInput {
  color: #c40e0e;
  font-size: 16px;
  margin-bottom: 15px;
}
