.containerProductsHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  background-color: var(--secondary);
}
.containerText {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary);
  width: 100%;
  height: 100%;
}
.title {
  color: var(--dark);
  margin: 0px;
  margin-bottom: 20px;
  font-weight: 300;
  /* font-size: 28px; */
  text-align: center;
}
.text {
  color: var(--lightSecondary);
  text-align: center;
  margin-bottom: 20px;
  font-weight: normal;
}

.containerProductsHome :global(.MuiButton-root) {
  background: var(--primary);
  color: var(--white);
  border-radius: 0px;
  width: fit-content;
}
.containerProductsHome :global(.MuiButton-root:hover) {
  background: var(--buttonHover);
}
/* .containerImage {
} */
.image {
  display: none;
}
@media screen and (min-width: 760px) {
  .containerProductsHome {
    display: flex;
    flex-direction: row;
    padding: 0px;
  }
  /* .containerImage {
    display: block;
    width: 50%;
    height: 100%;
  } */
  .image {
    display: block;
    width: 50%;
    height: 100%;
  }
  .containerText {
    box-sizing: border-box;
    padding: 50px;
    align-items: flex-end;
    width: 50%;
  }
  .text {
    text-align: end;
  }
}
@media screen and (min-width: 1024px) {
  .containerText {
    padding: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .image {
    width: 40%;
  }
  .containerText {
    width: 60%;
    padding: 90px;
  }
  .text {
    width: 600px;
  }
}
@media screen and (min-width: 1920px) {
  .containerProductsHome {
    padding: 90px 300px;
  }
  .text {
  }
}
