.containerProductsHome {
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
  padding: 40px;
}
.textProductsHome {
  text-align: center;
  color: white;
  margin: 0;
  font-size: 48px;
  font-family: "Staatliches";
  padding-top: 15px;
  padding-bottom: 15px;
}

.containerProductsHome .buttonProductsHome {
  width: 100%;
  height: 120px;
  background-color: #ff9801;
  cursor: pointer;
  font-size: 48px;
  font-family: "Staatliches";
  font-weight: bold;
}
.containerProductsHome .buttonProductsHome:hover {
  background-color: #ffac31;
  height: 125px;
  font-size: 50px;
}

/* .buttonProductsHome :global(.MuiButton-root) {
  background-color: #ff9801;
  color: black;
} */
@media screen and (min-width: 768px) {
  .textProductsHome {
    font-size: 70px;
    padding: 50px 60px;
  }
  .containerProductsHome .buttonProductsHome {
    width: 330px;
  }
}
@media screen and (min-width: 1024px) {
  .textProductsHome {
    font-size: 90px;
  }
  .containerProductsHome .buttonProductsHome {
    width: 430px;
    font-size: 80px;
  }
}
/* @media screen and (min-width: 1440px) {
} */
