.containerProductResponsiveSmall {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 100px - 52px);
}

.productImage {
  height: 150px;
  width: 300px;
  margin-top: 10px;
}
.productTitle {
  border-bottom: 1px dotted grey;
  border-top: 1px dotted grey;
  width: 300px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.productInfo {
  width: 300px;
  text-align: initial;
}

.productSubTitle {
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
  margin-top: 16px;
  font-family: sans-serif;
}
.containerProductResponsiveLarge {
  display: none;
}
.containerProductResponsiveMedium {
  display: none;
}

@media screen and (min-width: 768px) {
  .containerProductResponsiveSmall {
    display: none;
  }
  .containerProductResponsiveLarge {
    display: none;
  }

  .containerProductResponsiveMedium {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .productTitle {
    width: 500px;
  }
  .productImage {
    height: 300px;
    width: 500px;
  }
  .productInfo {
    width: 500px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .containerProductResponsiveSmall {
    display: none;
  }
  .containerProductResponsiveMedium {
    display: none;
  }

  .containerProductResponsiveLarge {
    display: flex;
    justify-content: center;
  }

  .containerProductLarge {
    display: flex;
    width: 1100px;
    justify-content: space-between;
  }

  .productTitle {
    width: 500px;
  }
  .productImage {
    height: 300px;
    width: 500px;
  }
  .productInfo {
    width: 500px;
    margin-bottom: 20px;
  }
}
