.header-responsive-small {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: #ff9800;
}
.header-responsive-small .header-title {
  padding-left: 10px;
  font-size: 23px;
  font-family: auto;
  color: black;
  text-align: center;
  width: 160px;
}

.header-responsive-small .shoppingCartButton {
  background-color: transparent;
  border: none;
}
.header-responsive-large {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-responsive-large {
    display: flex;
    align-items: center;
    margin: 0 10px 10px 10px;
    justify-content: space-between;
  }
  .header-buttons {
    background: transparent;
    border: none;
    font-size: 16px;
    height: 80px;
    width: 140px;
  }
  .header-responsive-small {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .header-buttons {
    font-size: 20px;
    width: 170px;
  }
  .header-responsive-small {
    display: none;
  }
  .active {
    background-color: violet;
  }
}
/*
  .wave {
    background: linear-gradient(to right, white);
    height: 10px;
    position: relative;
  }
  .wave::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(
      circle at 10px -5px,
      transparent 12px,
      maroon 13px
    );
  } */
