.containerContactUs {
  margin-top: 80px;
}
.title {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 500;
  background-color: var(--darkPrimary);
  color: var(--lightSecondary);
}
@media screen and (min-width: 768px) {
  .containerContactUs {
    margin-top: 105px;
  }
  .WrapperDirection {
    display: flex;
    padding: 50px 20px;
    background-color: var(--lightSecondary);
  }
}
@media screen and (min-width: 1280px) {
  .WrapperDirection {
    padding: 50px 90px;
    width: 100%;
    box-sizing: border-box;
  }
}
