.containerHowItWork {
  text-align: center;
  padding: 25px;
  background-color: var(--white);
  box-sizing: border-box;
}
.title {
  color: var(--dark);
  margin: 0px;
  margin-bottom: 20px;
  font-weight: 300;
  text-align: center;
}
.subtitle {
  color: var(--lightDark);
  padding: 0px 30px;
}
.containerButtonIcons {
  display: flex;
}
.containerIconsSection {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.iconsSection {
  box-sizing: border-box;
  width: 100%;
  align-self: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.icon :global(.MuiSvgIcon-root) {
  font-size: 60px;
  color: var(--primary);
}
.textIcon {
  margin-top: 10px;
  color: var(--dark);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.step {
  color: var(--dark);
  font-weight: 300;
}
.descriptionStep {
  color: var(--darkSecondary);
  box-sizing: border-box;
  width: 250px;
}
.containerHowItWork :global(.MuiButton-root) {
  background: var(--primary);
  color: var(--white);
  border-radius: 0px;
  width: fit-content;
  align-self: center;
  margin-top: 20px;
}
.containerHowItWork :global(.MuiButton-root:hover) {
  background: var(--buttonHover);
}
@media screen and (min-width: 768px) {
  .containerHowItWork {
    padding: 50px;
  }
  .containerIconsSection {
    display: flex;
    flex-direction: unset;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .iconsSection {
    flex: 1;
    margin: 0px 0px;
    align-self: unset;
  }
  .title {
    padding-bottom: 0px;
  }
  .subtitle {
    padding-top: 0px;
    padding-bottom: 20px;
  }
  .descriptionStep {
    margin-top: 10px;
    width: 200px;
  }
  .icon :global(.MuiSvgIcon-root) {
    font-size: 60px;
  }
  .containerHowItWork :global(.MuiButton-root) {
    font-size: 18px;
  }
}
@media screen and (min-width: 1024px) {
  .containerHowItWork {
    padding: 90px;
  }
  .containerIconsSection {
    display: flex;
    flex-direction: unset;
    justify-content: center;
    margin-bottom: 20px;
  }
  .iconsSection {
    align-self: unset;
    padding: 0px 30px;
  }
  .descriptionStep {
    width: 100%;
  }
  .containerHowItWork :global(.MuiButton-root) {
    font-size: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .containerHowItWork {
    padding: 90px 130px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1440px) {
  .containerHowItWork {
    padding: 90px 200px;
  }
}
@media screen and (min-width: 1920px) {
  .containerHowItWork {
    padding: 90px 400px;
  }
}
