.footer-responsive-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  height: 100px;
  justify-content: center;
  width: 100%;
  height: 100px;
}
.data-footer {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .footer-responsive-small {
    display: flex;
    background-color: black;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  .data-footer {
    margin: 10px;
  }
}
