.containerBoxAboutData {
  display: flex;
  flex-direction: column;
  padding: 45px;
  background: var(--lightSecondary);
}
.title {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--dark);
  margin-bottom: 20px;
  align-self: center;
}
.containerBoxs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.icon {
  width: 80px;
  height: auto;
}
.subTitle {
  text-transform: uppercase;
  letter-spacing: 2px;
  /* font-family: cursive; */
  font-weight: bold;
  color: var(--dark);
  margin-bottom: 10px;
}
.text {
  text-align: center;
  color: var(--darkPrimary);
  font-weight: normal;
  line-height: 25px;
}

@media screen and (min-width: 768px) {
  .containerBoxAboutData {
    padding: 50px;
  }
  .text {
    width: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .containerBoxAboutData {
    padding: 90px;
  }
  .containerBoxs {
    flex-direction: unset;
    flex-wrap: wrap;
  }
  .box {
    width: 320px;
    margin: 20px;
  }
}
@media screen and (min-width: 1920px) {
  .containerBoxAboutData {
    padding: 90px 400px;
  }
}
