li {
  list-style: none;
}
ul {
  margin: 0px;
  padding: 0px;
}
p {
  margin: 0px;
  padding: 0px;
}

.containerProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  min-height: calc(100% - 100px);
}
.productImage {
  width: 100%;
  height: 120px;
  border: 1px solid #e4e0e0;
}
.productTitle {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}
.containerProductsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.containerProduct {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 150px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
  position: relative;
}

.productName {
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 5px;
}
.productDescription {
  color: grey;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.productPrice {
  font-weight: bold;
}
.productButton {
  background: transparent;
  position: absolute;
  right: 0px;
  top: 100px;
  border: none;
}

@media screen and (min-width: 768px) {
  .containerProducts {
    min-height: calc(100% - 200px);
  }
  .containerProduct {
    height: 300px;
    width: 200px;
  }
  .productImage {
    height: 140px;
  }
  .productButton {
    top: 120px;
  }
}

@media screen and (min-width: 1024px) {
  .containerProduct {
    height: 320px;
    width: 250px;
  }
  .productImage {
    height: 160px;
  }
  .productButton {
    top: 140px;
  }
}

@media screen and (min-width: 1440px) {
  .containerProduct {
    height: 380px;
    width: 300px;
  }
  .productImage {
    height: 190px;
  }
  .productButton {
    top: 170px;
  }
}
