.containerProducts {
  margin-top: 80px;
}
.title {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 500;
  background-color: var(--darkPrimary);
  color: var(--lightSecondary);
}
@media screen and (min-width: 768px) {
  .containerProducts {
    margin-top: 105px;
  }
}
