.App {
  height: 100%;
}

.switch-wrapper {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}
a {
  text-decoration-line: none;
}
button {
  outline: none;
}
h1 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: lighter;
  font-size: 76px;
  letter-spacing: -1.5px;
}
h2 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: lighter;
  font-size: 34px;
  letter-spacing: -0.5px;
}
h3 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 0px;
}
h4 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.25px;
}
p {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.5px;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 86px;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 34px;
    font-weight: 300;
  }
  h4 {
    font-size: 24px;
  }
  p {
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 96px;
  }
  h2 {
    font-size: 60px;
  }
  h3 {
    font-size: 38px;
  }
  h4 {
    font-size: 30px;
  }
  h5 {
    font-size: 24px;
  }
  p {
    font-size: 20px;
  }
}
