.App {
  height: 100%;
}

.switch-wrapper {
  height: 100%;
}
button {
  outline: none;
}

.dark-primary-color {
  background: #ffa000;
}
.default-primary-color {
  background: #ffc107;
}
.light-primary-color {
  background: #ffecb3;
}
.text-primary-color {
  color: #212121;
}
.accent-color {
  background: #ffc107;
}
.primary-text-color {
  color: #212121;
}
.secondary-text-color {
  color: #757575;
}
.divider-color {
  border-color: #bdbdbd;
}
