/* :root {
  --white: rgba(255, 255, 255, 1);
  --primary: #ffa000;
  --secondary: #ffc107;
  --button: #ffa000;
  --buttonHover: #f7bc58;
  --success: rgba(21, 199, 88, 1);
  --info: rgba(20, 157, 201, 1);
  --warning: rgba(255, 199, 37, 1);
  --danger: rgba(255, 107, 54, 1);
  --light: #ffecb3;
  --dark: #212121;
  --lightDark: #757575;
} */
:root {
  --primary: #ffa000;
  --darkPrimary: #c67100;
  --lightPrimary: #ffd149;
  --secondary: #ffecb3;
  --darkSecondary: #cbba83;
  --lightSecondary: #ffffe5;
  --button: #ffa000;
  --buttonHover: #f7bc58;
  --dark: #212121;
  --white: rgba(255, 255, 255, 1);
  --lightDark: #757575;
  --success: rgba(21, 199, 88, 1);
  --danger: rgba(255, 107, 54, 1);
}
