.containerSocialNetworksSmallScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: black;
}
.containerIconButton {
  background-color: transparent;
  border: none;
  margin: 10px;
}
.containerIconButton :hover {
  background-color: grey;
  cursor: pointer;
}
.containerSocialNetworksMediumScreen {
  display: none;
}

@media screen and (min-width: 1024px) {
  .containerSocialNetworksMediumScreen {
    display: flex;
    align-items: center;
  }
  .containerSocialNetworksSmallScreen {
    display: none;
  }
  .containerIcon {
    margin: 30px;
  }
}
