.containerSocialNetworksSmallScreen {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #ffa000;
}
.containerIconButton {
  background-color: transparent;
  border: none;
  margin: 10px;
}
.iconface:hover {
  transform: scale(1.5);
  transition: transform 300ms ease-in;
}
.containerSocialNetworksMediumScreen {
  display: none;
}
@media screen and (min-width: 1024px) {
  .containerSocialNetworksMediumScreen {
    display: flex;
    align-items: center;
  }
  .containerSocialNetworksSmallScreen {
    display: none;
  }
  .containerIcon {
    margin: 30px;
  }
}
