.loadingProduct {
  margin-bottom: 20px;
  margin-left: 50px;
}
.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  min-height: calc(100% - 100px);
}
.loadingTitle {
  margin-bottom: 50px;
  margin-top: 20px;
}
.loadingContainerProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.containerAdmin {
  padding: 10px;
}
.containerButtonAddProduct {
  width: 100%;
  padding: 10px;
}
.containerButtonAddProduct .buttonAddProduct {
  background: #ffa000;
}
.containerButtonAddProduct .buttonAddProduct:hover {
  background-color: #ffac31;
  transform: scale(1.1);
}
.containerProductsList {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
}
.containerProduct {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 10px;
  background: #ffecb3;
  width: 100%;
  height: auto;
}
.productImage {
  flex: 1;
  border-radius: 16px;
  padding: 8px;
  width: 100px;
  height: 100px;
}
.containerProductData {
  flex: 2;
  display: flex;
  flex-direction: column;
}
.productName {
  max-height: 40px;
  overflow-y: scroll;
}
.productDescription {
  color: #757575;
  max-height: 40px;
  overflow-y: scroll;
}
.containerButton {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}
.containerButton .productButton {
  background: #ffa000;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}
.containerButton .productButton:hover {
  background-color: #ffac31;
  transform: scale(1.1);
}
.containerButton .productButtonActive {
  background: #ffa000;
  height: 30px;
  color: white;
  font-weight: bold;
}
.containerButton .productButtonActive:hover {
  background-color: #ffac31;
  transform: scale(1.1);
}
.containerButton .productButtonDesactive {
  background-color: #bdbdbb;
  font-size: 12px;
  height: 30px;
  color: white;
  font-weight: bold;
}
.containerButton .productButtonDesactive:hover {
  background-color: #757575;
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .containerAdmin {
    padding: 30px;
  }
  .productImage {
    width: 150px;
    height: 150px;
  }
  .productName {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .productDescription {
    font-size: 18px;
    margin-bottom: 5px;
    max-height: 40px;
    overflow-y: scroll;
  }
  .productPrice {
    font-size: 18px;
  }
  .containerButton .productButton {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
  }
  .containerButton .productButtonActive {
    height: 50px;
    font-size: 18px;
  }
  .containerButton .productButtonDesactive {
    background-color: #bdbdbb;
    height: 50px;
    font-size: 18px;
  }
}
@media screen and (min-width: 1024px) {
}
