.containerBanner {
  width: 100%;
  display: flex;
  margin-top: 80px;
  padding: 40px;
  background-image: url(../../images/home/ImagehomeEmpathyMessage2.jpeg);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.containerText {
  box-sizing: border-box;
  background-color: #ffffff94;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: fit-content;
}
.title {
  color: var(--dark);
  margin: 0px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 40px;
  font-family: cursive;
}
.text {
  color: var(--dark);
  margin-bottom: 20px;
}
.containerBanner :global(.MuiButton-root) {
  background: var(--button);
  color: var(--white);
}
.containerBanner :global(.MuiButton-root:hover) {
  background: var(--buttonHover);
}
@media screen and (min-width: 768px) {
  .containerBanner {
    height: 400px;
    margin-top: 105px;
  }
  .title {
    font-weight: lighter;
    font-size: 96px;
  }
  .containerText {
    padding: 20px;
  }
  .containerBanner :global(.MuiButton-root) {
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .containerBanner {
    height: 500px;
  }
}
@media screen and (min-width: 1440px) {
}
@media screen and (min-width: 1920px) {
  .containerBanner {
    height: 600px;
  }
}
